.container {
    height: 100vh;
    position: relative;
    
  }
  

#start {
    margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  display:block;
  }

  button {
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    /*font-size: 24px;*/
    background-color: #4924a0;
    color: white;
    display: block;
    font-size: 16px;
  height: 30px;
  line-height: 8px;
  margin-top: 20px;
  
  }
  
  h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #4924a0;
  }

  h2{
    font-size:xx-large;
  }
  .time{
    color: black;
    top: -80%;
  }

  .goBack{
    display: inline;
  }

  .clear{
    display: inline;
  }

  #instructions{
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
  }

  .option_list{
    margin-left: 200px;
  }

  #status{
    margin-left: 220px;
  }

  #question{
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
  }

  #result_box{
    text-align: center;
  }

  .submit{
    margin-left: 500px;
    display: flex;
    position: absolute;
  }

  